# Prerequisites
*.d

# Object files
*.o

# Executables
*.exe
*.out
bin/*

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Editor vscode
.vscode